app = "brighted"
primary_region = "ewr"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[mounts]]
  source = "brighted_data"
  destination = "/app/data"

[env]
  DATABASE_URL = "file:/app/data/prod.db"
  PORT = "3000"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
