app = "brighted"
primary_region = "ewr"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[env]
  PORT = "4000"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
